@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    font-family: ;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 10px;
    padding: 20px;
}
 .navhead{
    font-weight: bold;
    font-size: 1.2rem;
}
.item{
    margin: 10px;
    font-weight: bold;
    color: gray;
    font-size: 1.2rem;
}
.item:hover{
    color: black;
}