@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.mainfont{
    font-family: 'Poppins', sans-serif;
    /* font-weight:bolder; */

    /* font-weight: 700; */
    color: rgb(66, 66, 66);
    /* margin-top: 120px; */
    /* padding-bottom: 48px; */
}
.letterspacemy{
    letter-spacing:1px;
    font-weight:bolder;
    
}
.backgroundout{
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.paracolor{
    color: rgb(112, 112, 112);
}
.cardbg {
   background: rgb(66, 66, 66);

}
.imageteam{
height: 20rem;
position: relative;
bottom: 2rem;
left: 7rem;
}
.tele{
    cursor: pointer;
}
.tele:hover{
color: #0088CC;
}
.insta{
    margin-left: 2px;
    cursor: pointer;
}
.insta:hover{
    color: #C13584;
    
}
.twit:hover{
    color: #0088CC;
}
.disc:hover{
    color: black;
}

.domback{
    background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
}
@media only screen and (max-width: 1022px) {
    .imageteam{
        display:none;

    }
  }
 
  @media only screen and (min-width: 1022px) {

  .aboutimg{
    height: 24rem;
position: relative;
bottom: 2rem;
left: 7rem;
  }
}